.detailedView {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.editBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    height: 800px;
    width: 500px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: rgba(136, 136, 136, 0.5) solid 1px
    /* align-items: center; */
}

.titleCluster {
    width: 500px
}

.titleCluster > input{
    width: 280px;
    height: 60px;
    margin: 30px;
    font-size: 23px;

}

.buttonCluster > button {
    padding: 5px;
    margin: 8px;
    height: 40px;
    width: 80px;
}

.detailedTaskInput {
    padding: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: black solid 2px;
}

.detailedTaskInput:focus {
    border-bottom: solid 2px rgb(0, 153, 255);
    outline: none;
}

.detailedDescriptionInput {
    padding: 0;
    width: 450px;
    height: 60px;
    font-size: 23px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: black solid 2px
}

.detailedDescriptionInput:focus {
    border-bottom: solid 2px rgb(0, 153, 255);
    outline: none;
}

.backLink {
    text-decoration: none;
    color:black;
    font-weight: bold
}

.detailedPostButton {
    background: rgb(0, 153, 255);
    color: white;
    font-size: 16px;
    transition: .4s;
    cursor: pointer;
}

.detailedPostButton:hover {
    background: rgb(0, 110, 255);
}

#detailedCancelButton {
    background: rgb(214, 214, 214);
    padding: 8px;
    display: inline-block;
    top: 10px;
    text-align: center;
    color: black;
    font-size: 16px;
    margin: 8px;
    /* margin-top: 10px; */
    height: 22px;
    width: 67px;
    text-decoration: none;
    transition: .4s;
    cursor: pointer;
}

#detailedCancelButton:hover {
    background: rgb(156, 156, 156);
}

.detailedDeleteButton {
    background: rgb(243, 105, 105);
    color: white;
    font-size: 16px;
    transition: .4s;
    cursor: pointer;
}

.detailedDeleteButton:hover {
    background: rgb(211, 39, 39);
}

.detailedCompletedButton {
    font-size: 20px;
    height: 40px;
    width: 120px; 
    border-radius: 0;
    border: rgba(0, 0, 0, 0.055) 1px solid;
    background: rgb(173, 170, 170);
    transition: .4s;
}

.detailedCompletedButton:hover {
    background: rgb(134, 131, 131);
}

.detailedCompletedButtonDone {
    font-size: 20px;
    text-decoration: line-through;
    color: grey;
    height: 40px;
    width: 120px; 
    border-radius: 0;
    border: rgba(0, 0, 0, 0.055) 1px solid;
    background: rgb(173, 170, 170);
    transition: .4s;
}